<%- include('partials/banner') -%>
<body id="team-body">
    <main id="team">
        <div class="d-flex p-2 justify-content-center">
            <a href="http://madelinehassett.com/"><span>Madeline Hassett</span></a>
            <a href="https://www.linkedin.com/in/madelinehassett/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/bjorkypie"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <a href="https://zacharyavant.com/"><span>Zachary Avant</span></a>
            <a href="https://www.linkedin.com/in/zachary-avant-7592ba152/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/zavant"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <a href="https://jeffriley.dev/"><span>Jeffrey Riley</span></a>
            <a href="https://www.linkedin.com/in/jeffrileydev/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/jeffrileydev"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <a href="https://pamelacaguana.netlify.app"><span>Pamela Caguana</span></a>
            <a href="https://www.linkedin.com/in/pamelacaguana/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/PamelaCaguana"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <span>Ahmed Tarabia</span>
            <a href="https://www.linkedin.com/in/ahmedtarabia/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/ahmedtarabia"><i class="fab fa-github-square"></i></a>
        </div>
        <div class="d-flex p-2 justify-content-center">
            <span>Begad Tarek Mohamed</span>
            <a href="https://www.linkedin.com/in/begad-tarek-mohamed/"><i class="fab fa-linkedin"></i></a>
            <a href="https://github.com/BegadTarek"><i class="fab fa-github-square"></i></a>
        </div>
        
    </main>
</body>
   
    

<%- include('partials/footer') -%>